
* {
    font-family: Iosevka, Material Design Icons;
    font-size: 12px;
}

@define-color dark                  #3c3836;
@define-color blue                  #458588;
@define-color green                 #98971A;
@define-color green2                #B8BB26;
@define-color yellow                #FABD2F;
@define-color red                   #FB4934;
@define-color magenta               #D3869B;
@define-color aqua                  #689D6A;
@define-color lightblue             #83A598;
@define-color white                 #EBDBB2;
@define-color black                 #282828;



window#waybar {
    background-color: transparent;
}

#workspaces {
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button {
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background-color: @white;
    border-radius: 6px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-weight: bolder;
    color: @black;
}

#workspaces button.active {
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    padding-left: 20px;
    padding-bottom: 3px;
    background: linear-gradient(45deg, @green2, @lightblue);
    animation: gradient 40s ease infinite;
    background-size: 333% 333%;
    color: @black;
    font-weight: bolder;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#custom-weather,
#custom-audio_idle_inhibitor,
#custom-spotify,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#mpd {
    padding: 0 10px;
    border-radius: 2px;
    background-color: @green;
    color: @black;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bolder;
}

#custom-cycle_wall {
    background: @red;
    color: #141111;
    background-size: 500% 500%;
    font-weight: bolder;
    padding: 5px;
    border-radius: 15px;
}

#custom-audio_idle_inhibitor {
 background: @yellow;
}

#custom-weather {
    background: @aqua
}
#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: @black;
}

#custom-weather.clearNight {
    color: @black;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: @black;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: @black;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: @black;
}

#custom-weather.default {
    color: @black;
}


#clock {
    background: linear-gradient(45deg, @lightblue, @green2);
    margin-right: 25px;
    color: @black;
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.577);
    animation: gradient 20s ease infinite;
    font-size: 16px;
    padding-top: 2px;
    padding-right: 21px;
    font-weight: bolder;
    padding-left: 20px;
}

#battery.charging,
#battery.plugged {
    background-color: @lightblue;
    color: #32302f;
}

#battery {
    background-color: @green2;
    color: @black;
    font-weight: bolder;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @black;
    }
}

#battery.critical:not(.charging) {
    background-color: @yellow;
    color: @black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: @magenta;
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    /* background-color: #b4befe; */
    color: @black;
}

#memory {
    background-color: #fecb53;
    color: #32302f;
    font-weight: bolder;
}

#disk {
    color: #964b00;
}

#backlight {
    color: #101212;
    background-color: @yellow;
    font-weight: bolder;
}

#network {
    color: rgb(74, 77, 75);
    font-weight: bolder;
}

#network.disabled {
    background-color: @aqua;
}

#network.disconnected {
    background: @aqua;
    color: @black;
    font-weight: bolder;
    padding-top: 3px;
    padding-right: 11px;
}

#network.linked,
#network.wifi {
    background-color: @aqua;
    color: #32302f;
}

#network.ethernet {
    background-color: #f9e2af;
}

#pulseaudio {
    background-color: @blue;
    color: @dark;
    font-weight: bolder;
}

#pulseaudio.muted {
    background-color: @blue;
    font-weight: bolder;
}

#custom-media {
    color: #66cc99;
    font-weight: bolder;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
    font-weight: bolder;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f9e2af;
    color: #96804e;
}

#temperature.critical {
    background-color: #f38ba8;
    color: #bf5673;
}

#tray {
    background-color: @black;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
